.modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  background-color: white;
  animation: slideLeft 2s;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
}
